.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.products {
  
  width:100%;
  display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   
 }
 
 .products img {
   width: 60%;
   height: 60%;
 }
 .products img:hover{
   opacity:0.6;
 }
 
 .product {
   padding: 20px;
 }
 
 button {
   height: 40px;
   width: 120px;
   font-size: 15px;
   padding: 10px;
   
 }
 
 header {
   background-color:#84c225;
   height: 70px;
   padding-top: 20px;
   width:100%;
   
 }

 select{
   text-align: center;
   margin:0;
   float:left;
   margin-left:0px;
   margin-right:20%;
   width: 200px;
   height:30px;
   font-weight: bold;
   border-block-color: #84c225;
   border: 3px solid #84c225;
   border-radius:5px;
 }